<!DOCTYPE html>
<html>
<head>
    <title>Float Input</title>
</head>
<body>
    {% if not password_valid %}
        <form method="POST">
            <label for="password">Enter password:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Submit Password</button>
        </form>
    {% endif %}
    
    {% if password_valid %}
        <form method="POST">
            <label for="num_people">Enter the number of people (1-25):</label>
            <input type="number" name="num_people" id="num_people" min="1" max="25" required>
            
            <label for="float_input">Enter a float:</label>
            <input type="number" step="any" name="float_input" id="float_input" required>
            
            <button type="submit">Submit</button>
        </form>
        
        {% if not display_float_input %}
            <p>Entered float value: {{ last_float }}</p>
            <form method="POST">
                <button name="new_value" value="true" type="submit">Enter New Value</button>
            </form>
        {% endif %}
    {% endif %}
</body>
</html>